.projects {
    display: flex;
    height: auto;
    font-family: "Antonio", sans-serif;
    flex-direction: column;
    margin: 10px 10px;
    padding: 25px;
}
.projects h1 {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px 10px;
    text-align: center;
}
.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
}
.projectRow {
    display: flex;
    flex-direction: row;
}
.flick {
    background-color: #bcb8b1;
    color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 10px;
    width: 100%;
}
.flick:hover {
    background-color: yellowgreen;
}
.projectContainer p {
    padding: 10px 10px;
}
.imageOne{
    height: 500px;
    width: auto;
    margin: 10px 10px;
    background: url(../../Images/Bootcamp.PNG) no-repeat top center;
    background-size: cover;
}
.imageTwo {
    height: 500px;
    width: auto;
    margin: 10px 10px;
    background: url(../../Images/weatherApp.PNG) no-repeat top center;
    background-size: cover;
}
.imageThree {
    height: 500px;
    width: auto;
    margin: 10px 10px;
    background: url(../../Images/teamProfileGenerator.PNG) no-repeat top center;
    background-size: cover;
}
.imageFour {
    height: 500px;
    width: auto;
    margin: 10px 10px;
    background: url(../../Images/newBG.jpg) no-repeat top center;
    background-size: cover;
}
/* CSS for collapsible  **************************************************************************************************************************************/

.flick {
    color: #080708;
    text-align: left;
    font-size: 40px;
    font-family: "Antonio", sans-serif;
    height: 80px;
}

.collapsible .content-parent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s;
}
.collapsible .content {
    /* border: 1px solid #afafaf; */
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 996px) {
    .container {
        width: 50%;
    }
}
@media screen and (max-width: 750px) {
    .container {
        width: 10%;
    }
}

