.projects {
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 10px 10px;
    padding: 25px;
}
.projects h1 {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px 10px;
    text-align: center;
}
.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
}
.projectRow {
    display: flex;
    flex-direction: row;
}
.flick:hover {
    background-color: #AE8E1C;
}
.projectContainer p {
    padding: 10px 10px;
}
.projectRow p{
    line-height: 1.75;
}
.imageOne {
    height: 500px;
    width: auto;
    margin: 10px 10px;
    background: url(../../Videos/bootcampBlog.gif) no-repeat top center;
    background-size: cover;
}
.imageTwo {
    height: 500px;
    width: auto;
    margin: 10px 10px;
    background: url(../../Videos/WeatherGif.gif) no-repeat top center;
    background-size: cover;
}
.imageThree {
    height: 500px;
    width: auto;
    margin: 10px 10px;
    background: url(../../Videos//readmeGenerator.gif) no-repeat top center;
    background-size: cover;
}
.imageFour {
    height: 500px;
    width: auto;
    margin: 10px 10px;
    background: url(../../Videos/workdayPlanner.gif) no-repeat top center;
    background-size: cover;
}
.imageFive {
    height: 500px;
    width: auto;
    margin: 10px 10px;
    background: url(../../Videos/codeQuiz.gif) no-repeat top center;
    background-size: cover;
}
/* CSS for collapsible  **************************************************************************************************************************************/
.row>* {
    display: contents !important;
}
.flick {
    background-color: #bcb8b1;
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
    width: 70%;
    color: #080708;
    text-align: left;
    font-size: 40px;
    height: 80px;
}

.collapsible .content-parent {
    width: 70%;
    margin: auto;
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s;
}
.collapsible .content {
    /* border: 1px solid #afafaf; */
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 996px) {
    .container {
        width: 50%;
    }
}
@media screen and (max-width: 750px) {
    .container {
        width: 10%;
    }
}

