.education, .work {
  display: flex;
  width: 70vw;
  margin: 3em auto;
  padding: 2em;
  border-bottom: 1px solid 	#787878;
}
.info {
  padding: 15px;
  margin: 0;
}
.skillTitle {
  margin-top: 8px;
  padding: 7px;
  height: 43px;
  border-bottom: solid 3px #a1c6ea;
}
.education-columns h2 {
  padding: 15px;
  margin: 0;
}
.skillColumn {
  line-height: 40px;
  padding: 15px;
}
.education-columns {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.education-columns > * {
  flex-basis: 100%;
}
.work {
  display: flex;
  width: 70vw;
  margin: 3em auto;
  padding: 2em;
}
.work-columns {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.work-columns h2 {
  padding: 15px;
  margin: 0;
}

.groupContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:auto;
}

.strengths {
  display: flex;
  width: 70vw;
  margin: 3em auto;
  padding: 2em;
}
.strength-columns {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.strength-columns h2 {
  padding: 15px;
  margin: 0;
}
.strength-columns p {
  width: 80px;
  text-align: left;
  padding: 15px;
}
.strength-container {
  position: relative;
  left: 2%;
  width: 95%;
  background-color: #787878;
}
.mySQL {
  text-align: right;
  padding: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 87%;
  background-color: black;
}
.hyper, .css, .java {
  text-align: right;
  padding: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.hyper {
  width: 86%;
  background-color: black;
}
.css {
  width: 82%;
  background-color: black;
}
.java {
  width: 79%;
  background-color: black;
}




@media screen and (max-width: 399px) {
  .education, .work, .strengths {
    display: block;
    margin: 15px auto;
  }
  .work-columns, .education-columns, .strength-columns {
    width: 100%;
  }
  .skillTitle {
    text-align: center;
  }
}
