.education, .work {
  display: flex;
  width: 70vw;
  margin: 3em auto;
  padding: 2em;
  border-bottom: 1px solid 	#787878;
}
.info {
  padding: 15px;
  margin: 0;
}
.skillTitle {
  margin-top: 8px;
  padding: 7px;
  height: 43px;
  border-bottom: solid 3px #a1c6ea;
}
.education-columns h2 {
  padding: 15px;
  margin: 0;
}
.skillColumn {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  padding: 15px;
}
.education-columns {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.education-columns > * {
  flex-basis: 100%;
}
.work {
  display: flex;
  width: 70vw;
  margin: 3em auto;
  padding: 2em;
}
.work-columns {
  width: 76%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.work-columns h2 {
  padding: 15px;
  margin: 0;
}
.groupContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:auto;
}
.groupContainer span {
  font-style: italic;
  font-size: medium;
}
.row p {
  font-size: 20px;
  font-weight: 600;
}
.skillIcon {
  position: relative;
  top: 2px;
  left: 10%;
}
.loto {
  position: relative;
  left: 3%;
}
.strengths {
  display: flex;
  width: 70vw;
  margin: 3em auto;
  padding: 2em;
}
.html {
  color: #e34c26;
  height: 25px;
  width: 25px;
}
.javascript {
  color: #F0DB4F;
  background-color: #323330;
  height: 25px;
  width: 25px;
}
.jquery {
  color: #0769AD;
  height: 25px;
  width: 25px;
}
.sql {
  color: #808080;
  height: 25px;
  width: 25px;
}
.react {
  height: 25px;
  width: 25px;
  color: #61DBFB;
}
.node {
  color: #68A063;
  height: 25px;
  width: 25px;
}
.mysql {
  background-color: whitesmoke;
  color: #00758F;
  height: 25px;
  width: 25px;
}
.mongo {
  border-radius: 25px;
  background-color: whitesmoke;
  color: #4db33d;
  height: 25px;
  width: 25px;
}
.handlebars {
  color: #6f4e37;
  height: 25px;
  width: 25px;
}
.pipes {
  color: #707070;
  height: 25px;
  width: 25px;
}
.tag {
  color: #f32013;
  height: 25px;
  width: 25px;
}
#rogue {
  color: #505050;
  height: 25px;
  width: 25px;
}
.sap {
  color: #008ad7;
  height: 25px;
  width: 25px;
}
.bootstrap {
  color: #6f42c1;
  height: 25px;
  width: 25px;
}


@media screen and (max-width: 985px){
  .strengths {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .groupContainer {
    margin-top: 20px;
  }
  .skillTitle {
    text-align: center;
  }
}

@media screen and (max-width: 399px) {
  .education, .work, .strengths {
    display: block;
    margin: 15px auto;
  }
  .work-columns, .education-columns, .strength-columns {
    width: 100%;
  }
  .skillTitle {
    text-align: center;
  }
}
