#about {
    height: 500px;
    font-family: 'Antonio', sans-serif;
    background-color: #2B2B2B;
}
.aboutSection {
    overflow-x: hidden;
    top: 5%;
    height: 90%;
    display: flex;
    justify-content: center;
}
#myPic {
    padding: 10px 10px;
    height: 250px;
    width: 180px;
    border-radius: 110px;
    position: relative;
    top: 18%;
}
.aboutDiv {
    width: 60%;
    color: whitesmoke;
}
.aboutDiv p {
    padding: 10px 10px;
    position: relative;
    top: 25%;
    font-size: 20px;
    line-height: 50px;
}
.aboutDiv h2 {
    font-size: 32px;
    position: relative;
    top: 25%;
    left: 10px;
    width: 138px;
}
@media screen and (max-width: 399px){
    .aboutSection {
        flex-direction: column;
    }
    #myPic {
       display: none;
    }
    .aboutDiv {
        width: auto;
    }
    .aboutDiv h2 {
        position: relative;
        left: 0px;
        width: auto;
        text-align: center;
    }
    .aboutDiv p {
        text-align: center;
    }
}