#about {
    background-color: #2B2B2B;
}
.aboutSection {
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.picDiv img {
    display: flex;
    margin: auto;
}
#myPic {
    padding: 10px 10px;
    height: 250px;
    width: 180px;
    border-radius: 110px;
    position: relative;
    top: 18%;
}
.aboutDiv {
    margin: 25px 25px;
    padding: 25px;
    color: #F5F9E9;
}
.contactDiv {
    margin: 25px 25px;
    padding: 25px;
    color: #F5F9E9;
}
.aboutDiv p {
    padding: 10px 10px;
    font-size: 20px;
    line-height: 50px;
}
.contactDiv p {
    padding: 10px 10px;
    font-size: 20px;
    line-height: 10px; 
    text-align: center;
}
.aboutDiv h2 {
    padding: 10px;
    font-size: 32px;
}
.contactDiv h2 {
    position: relative;
    bottom: 15px;
    padding: 10px;
    font-size: 32px;
    text-align: center;
}
@media screen and (max-width: 399px){
    .aboutSection {
        flex-direction: column;
    }
    #myPic {
       display: none;
    }
    .aboutDiv {
        width: auto;
    }
    .aboutDiv h2 {
        position: relative;
        left: 0px;
        width: auto;
        text-align: center;
    }
    .aboutDiv p {
        text-align: center;
    }
}
@media screen and (max-width: 900px) {
    .picDiv {
        margin: 10px 10px;
        display: flex;
    }
    .aboutSection {
        flex-direction: column;
        align-items: center;
    }
    .aboutSection h2, .aboutDiv p, .contactDiv p {
        text-align: center;
    }
}
