.section-download {
    position: relative;
    left: 25rem;
    bottom: 32.5rem;
}
.portfolio {
    display: flex;
    height: 5rem;
    width: 10rem;
    border: solid 2px whitesmoke;  
    border-radius: 30px; 
}
.portfolio h1 {
    margin: auto;
    font-size: 25px;
    color: whitesmoke;
}
.contactMe {
    display: flex;
    position: relative;
    top: 3rem;
    height: 5rem;
    width: 10rem;
    border: solid 2px whitesmoke;   
    border-radius: 30px; 
}
.contactMe h1 {
    margin: auto;
    font-size: 25px;
    color: whitesmoke;
}