.header {
  height: 100vh;
  background: url(../../Images/newBG.jpg) no-repeat top center;
  background-size: cover;
  border-bottom: opacity .5;
}
.intro {
  display: inline-block;
  position: relative;
  overflow: scroll;
  top: 30%;
  left: 7.5%;
  width: 85%;
  height: 450px;
  font-family: 'Antonio', sans-serif;
}
img {
  margin-right: 25px;
}
.name {
  opacity: .8;
  color: whitesmoke;
  text-align: center;
  font-size: 75px;
  position: relative;
  top: 5%;
}
.paragraphDiv {
  position: relative;
  top: 15%;
  padding: 15px 20px;
}
.intro p {
  opacity: .8;
  text-align: center;
  font-size: 22px;
  flex-wrap: wrap;
  color: whitesmoke;
}
.socialLinks {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 10px;
  top: 15%;
  color: whitesmoke;
}
#githubLink, #resumeLink, #linkedinLink {
  opacity: .8;
  width: 40px;
  height: 40px;
  padding: 10px 10px;
}
.navbar {
  opacity: .2;
}

/* .imageDiv {
    background-image: url(../../Images/Louvre.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 55px;
    padding: 142px 100px;
    width: 150px;
    height: 100px;
} */
