.header {
  height: 100vh;
  background: url(../../Images/newBG.jpg) no-repeat top center;
  background-size: cover;
}
.aboutMe {
  display: inline-block;
  position: relative;
  top: 25%;
  left: 10%;
  width: 80%;
  border: solid 3px whitesmoke;
  height: 450px;
}
img {
  margin-right: 25px;
}

/* .imageDiv {
    background-image: url(../../Images/Louvre.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 55px;
    padding: 142px 100px;
    width: 150px;
    height: 100px;
} */
