.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  background: url(../../Videos/newBG.jpg) no-repeat top center;
  background-size: cover;
}
.header a {
  cursor: pointer;
}

nav .navBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  border: none;
  background-color: #bcb8b1;
  width: 60px;
  height: 50px;
}
.navBtns:hover {
  background-color: #AE8E1C !important;
}
.intro {
  padding: 20px 20px;
  position: relative;
  left: 10%;
  width: 80%;
}
img {
  margin-right: 25px;
}
.name {
  padding: 20px;
  color: #F5F9E9;
  font-weight: 400;
  text-align: center;
  font-size: 100px;
}
.paragraphDiv { 
  margin: auto;
  width: 85%;
  position: relative;
  top: 5%;
}
.paragraphDiv p {
  display: flex;
  align-items: center;
}
.intro p {
  line-height: 2;
  text-align: center;
  font-size: 22px;
  color: #F5F9E9;
}

#githubLink,
#resumeLink,
#linkedinLink {
  width: 65px;
  height: 65px;
  padding: 10px 10px;
  color: #F5F9E9;
}
#githubLink:hover,
#resumeLink:hover,
#linkedinLink:hover,
.arrow:hover {
  color: #AE8E1C;
}

#user, #home, #code, #mail {
  color: black;
  height: 25px;
  width: 20px;
}

.header .socialLinks {
  padding: 20px 20px;
  margin: 0 auto;
}

.arrowDown {
  padding: 20px 20px;
  margin: 0 auto;
}
.arrow {
  color: #F5F9E9;
  height: 65px;
  width: 65px;
  padding: 10px 10px;
}
@media screen and (max-width: 975px) {
  .name {
    font-size: 50px;
  }
  .intro p {
    font-size: 20px;
    line-height: 1.75;
  }
  .arrowDown {
    top: 25%;
  }
}
@media screen and (max-width: 600px) {
  .intro p {
    font-size: 16px;
    line-height: 1.75;
  }
  .navbar {
    width:65px !important;
    height: 300px !important;
    bottom: 30% !important;
  }
  .navBtns {
    width: 50px !important;
    height: 35px !important;
    border-radius: 15px !important;
  }
}