.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../../Images/newBG.jpg) no-repeat top center;
  background-size: cover;
}
.header a {
  cursor: pointer;
}

nav .navBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  border: none;
  background-color: #bcb8b1;
  width: 60px;
  height: 50px;
}
.navBtns:hover {
  background-color: #AE8E1C !important;
}
.intro {
  background: rgba(0, 0, 0, 0);
  display: inline-block;
  position: relative;
  overflow-x: hidden;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 475px;
  font-family: "Antonio", sans-serif;
  font-weight: 600;
}
img {
  margin-right: 25px;
}
.name {
  padding: 20px;
  color: #F5F9E9;
  font-weight: 400;
  text-align: center;
  font-size: 100px;
  position: relative;
  top: 7%;
}
.paragraphDiv { 
  display: flex;
  width: 65%;
  margin: auto;
  padding: 15px 20px;
}
.paragraphDiv p {
  display: flex;
  align-items: center;
}
.intro p {
  padding: 15px;
  line-height: 2;
  text-align: center;
  font-size: 22px;
  color: #F5F9E9;
  
}

#githubLink,
#resumeLink,
#linkedinLink {
  width: 65px;
  height: 65px;
  padding: 10px 10px;
  color: #F5F9E9;
}
#githubLink:hover,
#resumeLink:hover,
#linkedinLink:hover,
.arrow:hover {
  color: #AE8E1C;
}

#user, #home, #code, #mail {
  color: black;
  height: 25px;
  width: 20px;
}

.header .socialLinks {
  position: relative;
  top: 10%;
}

.arrowDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 18%;
}
.arrow {
  color: #F5F9E9;
  height: 65px;
  width: 65px;
  padding: 10px 10px;
}

@media screen and (max-width: 1000px){
  .name {
    font-size: 75px;
  }
  .intro p {
    font-size: 20px;
  }
}
