.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../../Images/newBG.jpg) no-repeat top center;
  background-size: cover;
}
.header a {
  color: inherit;
  cursor: pointer;
}

#resumeLink:hover {
  color: #0a58ca;
}

nav .navBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  border: none;
  background-color: #bcb8b1;
  width: 60px;
  height: 50px;
}
.navBtns:hover {
  background-color: yellowgreen !important;
}
.intro {
  display: inline-block;
  position: relative;
  overflow-x: hidden;
  top: 20%;
  left: 7.5%;
  width: 85%;
  height: 550px;
  font-family: "Antonio", sans-serif;
  font-weight: 600;
}
img {
  margin-right: 25px;
}
.name {
  color: #bcb8b1;
  text-align: center;
  font-size: 100px;
  position: relative;
  top: 5%;
}
.paragraphDiv {
  display: flex;
  height: 310px;
  width: 70%;
  margin: auto;
  position: relative;
  top: 10%;
  padding: 15px 20px;
}
.paragraphDiv p {
  display: flex;
  align-items: center;
}
.intro p {
  line-height: 2.5;
  text-align: center;
  font-size: 22px;
  flex-wrap: wrap;
  color: #bcb8b1;
}

#githubLink,
#resumeLink,
#linkedinLink {
  width: 65px;
  height: 65px;
  padding: 10px 10px;
}

#user, #home, #code, #mail {
  color: black;
  height: 25px;
  width: 20px;
}

.header .socialLinks {
  position: relative;
  top: 20%;
}

.arrowDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25%;
}
.arrowDown {
  color: #bcb8b1;
}
.arrow {
  height: 65px;
  width: 65px;
  padding: 10px 10px;
}
