/* Navbar Sytle ***************************************************************************************/
.navLinks {
    margin: 10px auto;
}
.navLinks ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.navLinks li {
    margin: 15px;
    color: whitesmoke;
}