/* Navbar Sytle ***************************************************************************************/
.navLinks {
    position: relative;
    right: 25rem;
    top: 20rem;
}
.navLinks ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.navLinks li {
    margin: 15px;
    color: whitesmoke;
}