.footer {
    color: #F5F9E9;
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: #080708;
}
.reset {
    color: inherit;
}
.footer a:hover{ 
    color: #AE8E1C !important;
}
.footerContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.ghPages {
    text-transform: uppercase;
    text-align: center;
    margin: 5px 5px;
    height: 45px;
}

.footerNav p {
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px 10px;
}

.footerNav a {
    text-decoration: none;
}
.socialLinks {
    cursor: pointer;
    display: flex;
    justify-content: center;
}