/* HTML styling ***************************************************************************************/
body {
   background-image: url(./Images/myBG.jpg); 
}
/* App styling ***************************************************************************************/
.App {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.Portfolio {
    position:absolute;
}
